* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5 ease;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgba(97, 255, 202),
    rgba(162, 119, 255)
  );
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;

  cursor: pointer;
  z-index: 1;
}
.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;

  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

.theme-toggler img {
  height: 30px;
  width: 30px;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

button {
  height: 60px;
  width: 60px;
  margin: 5px;
  border: 0;
  border-radius: 30px;

  font-size: 20px;

  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button#equal {
  height: 130px;
}

/* Light Theme */

.calculator {
  background-color: #edecee;
}

.calculator #display {
  color: #8464c6;
}

.calculator button#clear {
  background-color: #f694ff;
  color: #29263c;
}

.calculator button.btn-number {
  background-color: #a277ff;
  color: #29263c;
}

.calculator button.btn-operator {
  background-color: #29263c;
  color: #f967f3;
}

.calculator button.btn-equal {
  background-color: #61ffca;
  color: #000;
}

/* dark theme */

.calculator.dark {
  background-color: #29263c;
}

.calculator.dark #display {
  color: #61ffca;
}

.calculator.dark button#clear {
  background-color: #c55858;
  color: #29263c;
}

.calculator.dark button.btn-number {
  background-color: #6d6d6d;
  color: #f8fafb;
}

.calculator.dark button.btn-operator {
  background-color: #a277ff;
  color: #29263c;
}

.calculator.dark button.btn-equal {
  background-color: #6cb2c7;
  color: #29263c;
}
